/* RESET & GLOBALS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Tw Cen MT Condensed", "Tw Cen MT", sans-serif;
  color: white;
}

input, textarea {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.rounded-circle {
  border-radius: 50%;
}
