/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #88b6c8;
}

.container-fluid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  display: flex;
  list-style: none;
  position: relative;
}

.ms-3 { margin-left: 1rem; }
.ms-auto { margin-left: auto; }

/* DROPDOWN */
.dropdown { position: relative; }
.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-menu-left,
.dropdown-menu-right {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #4c8ea8;
  min-width: 160px;
  z-index: 1000;
  list-style: none;
  border: 1px solid #000;
}

.dropdown-menu-left { left: 0; }
.dropdown-menu-right { right: 0; }

.dropdown.open .dropdown-menu-left,
.dropdown.open .dropdown-menu-right {
  display: block;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 20px;
  color: white;
}

.dropdown-menu li a:hover {
  background-color: #3a6f87;
}
