.image-carousel-view {
  width: 1000px;
  height: 600px;
  overflow: hidden;
  border-radius: 8px;
}

.details-and-carousel {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.booking-box {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  background: #f9f9f9;
  border: 2px solid #88b6c8;
}

.comments-section {
  width: 80%;
  margin: 40px auto;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
}

.listing-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255,255,255,0.7);
    border: none;
    font-size: 2rem;
    padding: 0.4rem 0.9rem;
    cursor: pointer;
    border-radius: 50%;
}

.carousel-btn.left { left: 10px; }
.carousel-btn.right { right: 10px; }

.listing-details {
    max-width: 500px;
    padding: 20px;
}

.detail-section {
    margin-bottom: 20px;
}

.detail-section h2 {
    margin-bottom: 6px;
}

.price {
    font-size: 1.4rem;
    font-weight: bold;
    color: #24566b;
}

