.image-carousel-view {
  width: 1000px;
  height: 600px;
  overflow: hidden;
  border-radius: 8px;
}

.details-and-carousel {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.booking-box {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  background: #f9f9f9;
  border: 2px solid #88b6c8;
}

.comments-section {
  width: 80%;
  margin: 40px auto;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
}
